.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.image-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-item {
  position: relative;
  cursor: pointer;
  width: 280px;
  height: 280px;
  overflow: hidden;
  margin: 5px;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.image-item:hover .overlay {
  opacity: 1;
}

.image-info {
  color: white;
  text-align: center;
  text-wrap: nowrap;
  z-index: 1;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox-content {
  position: relative;
}

.full-screen-image {
  max-width: 90vw;
  max-height: 90vh;
}

.controls {
  position: absolute;
  /* bottom: 20px;
  left: 50%; */
  right: 2%;
  top: 2%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 1;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.prev-icon,
.next-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev-icon {
  /* position: absolute !important;
  left: 0%;
  top: 10%;
  border: 5px solid red;
  color: blue; */
  left: 20px;
  color: white;
}

.next-icon {
  right: 20px;
  color: white;
}
