.image-container {
  position: relative;
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

.overlay-text {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 0% 15px;
}
.imagewt-card-btn {
  color: #d1b280;
  border: 2px solid #d1b280;
  width: 170px;
  margin: 3vh auto;
}
.imagewt-card-btn:hover {
  background-color: #d1b280;
}
