.testimonial-top {
  padding: 8vh 10px;
  overflow: hidden;
}

.testimonial-yt-vids {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.testimonial-yt-vids-iframe {
  max-width: 365px;
  min-width: 365px;
  max-height: 250px;
  min-height: 250px;
  padding: 10px;
  margin: 15px;
  background-color: #2e8b57;
}
/* ////////////////////////////////////// RESPONSIVENESS STARTED  */
@media screen and (max-width: 760px) {
  .testimonial-top {
    padding: 2vh 5px;
  }
  .testimonial-yt-vids-iframe {
    max-width: 355px;
    min-width: 355px;
    max-height: 250px;
    min-height: 250px;
    margin: 10px;
  }
}
